$background: #FBFAF5;
$font-stack-heading: 'Optima', 'Times New Roman', serif;
$font-stack-content: 'Baskerville', 'Times New Roman', serif;
$font-stack-accent: 'Futura Std', 'Helvetica Neue', Helvetica, sans-serif;
$color-content: #887F7A;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background: $background;
}

h1, h2 {
  font-family: $font-stack-heading;
  color: $color-content;
  font-weight: 200;
}

a {
  color: $color-content;
  text-decoration: none;
}

p {
  color: $color-content;
}

header {
  max-width: 1560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  font-family: $font-stack-content;
  color: $color-content;
  margin-left: auto;

  &.navbar {
    max-width: 1560px;
    padding: 20px 40px;
    margin: 0 auto;
  }

  &__title.navbar-brand h1 {
    font-size: 20px;
  }

  &__menu-box {
    display: flex;
  }

  &__toggle {
    width: 70px;
    position: relative;
  }

  .navbar-toggler {
    display: flex;
    align-items: center;
    border: none;
    outline: none;

    &__txt {
      font-family: $font-stack-accent;
      letter-spacing: 0.25rem;
      font-size: 12px;
    }
  }

  &__bar {
    width: 20px;
    height: 1px;
    background: $color-content;

    &:nth-of-type(1) {
      position: absolute;
      top: 4px;
      right: 0;
    }

    &:nth-of-type(2) {
      position: absolute;
      bottom: 4px;
      right: 0;
    }
  }
}

main {
  max-width: 1560px;
  margin: 82px auto 0;
  padding: 0 40px;
}

.footer {
  width: 100%;
  height: auto;
  text-align: right;
}

.article {
  &__eyecatch {
    max-width: 450px;
  }

  &__category {
    font-family: $font-stack-accent;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 24px;
  }

  &__content {
    p {
      font-family: $font-stack-content;
      font-size: 14px;
    }
  }

  &__date {
    font-family: $font-stack-heading;
    font-size: 12px;
  }
}

.pager {
  display: flex;
  justify-content: space-between;
  font-family: $font-stack-heading;
  font-size: 20px;
  font-weight: 200;

  &__next-post {
    &::before {
      content: "←";
      color: $color-content;
    }
  }

  &__previous-post {
    &::after {
      content: "→";
      color: $color-content;
    }
  }
}