@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  margin: 0; }

body {
  margin: 0 auto;
  padding: 0;
  background: #FBFAF5; }

h1, h2 {
  font-family: "Optima", "Times New Roman", serif;
  color: #887F7A;
  font-weight: 200; }

a {
  color: #887F7A;
  text-decoration: none; }

p {
  color: #887F7A; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav {
  font-family: "Baskerville", "Times New Roman", serif;
  color: #887F7A;
  margin-left: auto; }
  .nav.navbar {
    padding: 20px 40px; }
  .nav__title.navbar-brand h1 {
    font-size: 20px; }
  .nav__menu-box {
    display: flex; }
  .nav__toggle {
    width: 70px;
    position: relative; }
  .nav .navbar-toggler {
    display: flex;
    align-items: center;
    border: none;
    outline: none; }
    .nav .navbar-toggler__txt {
      font-family: "Futura Std", "Helvetica Neue", Helvetica, sans-serif;
      letter-spacing: 0.25rem;
      font-size: 12px; }
  .nav__bar {
    width: 20px;
    height: 1px;
    background: #887F7A; }
    .nav__bar:nth-of-type(1) {
      position: absolute;
      top: 4px;
      right: 0; }
    .nav__bar:nth-of-type(2) {
      position: absolute;
      bottom: 4px;
      right: 0; }

main {
  margin: 82px 40px 0; }

.footer {
  width: 100%;
  height: auto;
  text-align: right; }

.article__category {
  font-family: "Futura Std", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.article__title {
  font-size: 24px; }

.article__content p {
  font-family: "Baskerville", "Times New Roman", serif;
  font-size: 14px; }

.article__date {
  font-family: "Optima", "Times New Roman", serif;
  font-size: 12px; }

.pager {
  display: flex;
  justify-content: space-between;
  font-family: "Optima", "Times New Roman", serif;
  font-size: 20px;
  font-weight: 200; }
  .pager__next-post::before {
    content: "←";
    color: #887F7A; }
  .pager__previous-post::after {
    content: "→";
    color: #887F7A; }
