*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #FBFAF5; }

h1 {
  font-family: "Optima", "Times New Roman", serif;
  color: #887F7A;
  font-weight: 200; }

p {
  color: #887F7A; }
